@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

:root {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-size: 18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mask {
  -webkit-mask-image: linear-gradient(to top, white 50%, transparent);
  mask-image: linear-gradient(to top, white 50%, transparent);
}

.mask-zero {
  -webkit-mask-image: linear-gradient(to top, white 30%, transparent);
  mask-image: linear-gradient(to top, white 20%, transparent);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  @apply invert brightness-50;
}
